html, body {
    background-color: rgb(58, 14, 40);
    color: whitesmoke;
}

main div {
    display: flex;
    justify-content: space-around;
}

ol {
    display: grid;
    width: 960px;
    height: 960px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: 2px solid grey;
}

li {
    background-color: rgb(226, 240, 235);
    border: 0.5px solid black;
}

